<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemsida</title>
</head>
<body>
    <h1>HELLO Dog</h1>
    <p>Tiden är : @DateTime.Now</p>
</body>
</html>