@model List<Dog>

@{
    Layout ="_Layout";
}

<h1>HELLO</h1>
 <ul>
    @foreach ( var item in @Model)
    {
        <li>@item.Name är av raser @item.Breed (@item.Age)</li>
    }
</ul>
<a href="/Home/Dogs">Gå till hundSida</a>