

@{
    Layout ="_Layout";
}

<h1>Home</h1>
 <ul>
    <span>Hello World</span>
     <p>Tiden är : @DateTime.Now</p>
     <p>@DateTime.IsLeapYear(2016)</p>
   
</ul>
<a href="/Home/Dogs">Gå till HundSida</a>

<a href="/Home/Cats">Gå till KattSida</a>