@{
    Layout ="_Layout";
}

    <h1>HELLO</h1>
    <ul>
    @foreach (string item in new []{"Bill","bob","Gun"})
    {
        <li>@item</li> // <li är lista
    }
    </ul>
<a href="/Home/Dogs">Gå till hundSida</a>